
header {
    height: 100vh;
    /*background-image: url('../images/background.mp4');*/
    background-size: cover;
}
/*main, main div {*/

    /*filter: brightness(50%);*/
/*}*/

html::-webkit-scrollbar {
    width: .4rem;
    background: linear-gradient(0deg, rgba(0,168,255,1) 0%, rgba(101,146,255,1) 31%, rgba(255,247,84,1) 62%, rgba(255,235,0,1) 100%);
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5rem;
}

header {
    transform: translateX(-150%);
    animation: ani 1s forwards;
}

/*.main-section {*/
/*    position: relative;*/
/*}*/

/*.card {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

#background-video {
    /*width: 100vw;*/
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateX(0);}
}

.aboutUs {
    background: url("../images/flag-1.png");
    background-size: cover;
    /*filter: brightness(50%);*/
    height: 60vh;
}

@media  (max-width: 720px) {
    .aboutUs {
        height: 100vh;
    }
}
/*@media (min-width: 720px) {*/
/*    .aboutUs card {*/
/*        width: 50%;*/
/*    }*/
/*    .aboutUs-card {*/
/*        width: 50%;*/
/*    }*/
/*}*/


/*.banner {*/
/*    position: relative;*/
/*}*/
/*.banner__content {*/
/*    background: url('../images/flag-01.png');*/
/*    background-size: cover;*/
/*}*/
/*.banner svg {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
/*.banner svg path {*/
/*    fill: #fff;*/
/*}*/




